.footer {
    position: fixed;
    margin-top: -200px;
    bottom:0;
    width:100%;
    font-size: Small;
    z-index: 32;
    padding-bottom: 15px;
    padding-left: 300px;
    background-color: inherit;
 }

.foot-append {
    display: none;
}